.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
   
}
form {
    background-color:whitesmoke;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-shadow: rgba(225,225,225,0.1)0px 1px 1px 0px inset, rgba(50,50,93,0.25)0px 50px 100px -20px,rgba(0, 0, 0, 0.3)0px 30px 60px -30px;
}

h2 {
    text-align: center;
    color:black;
    font-family: cursive;
    margin-top: -10px;
}


label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
    font-weight: bold;
    font-family: cursive;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}



button{
    width: 100%;
    padding: 10px;
    background-color:lightseagreen;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    font-family:cursive;
  }
  button:hover{
    color: white;
    background-color: #404c59;
    border: white 2.2px solid;
    height: 40px;
    /* width: 105px; */
    cursor: pointer;
  }
.rem{
    margin-top: 20px;
}
.error {
    color:red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}
.check{
 font-family:cursive;
}
.otp{
    /* color: #555555; */
    padding-left: 7rem;
    /* background-color: #f0f0f0; */
}
#otpModal{
    display: none;
    width: 500px;
    margin-left: 34%;
  

}
.creative{
    
     margin:20px 10px 25px 10px;
     width: 600px;
     text-align: center;
     
     margin-left: 200px;
     background-color:gray;
     
}
.red{
   margin-right: 95%;
   
}
.type{
    text-align: left;
}
.bold{
    margin-right: 20px;
    text-align: end;

}

.bold{
    font-size:30px ;
}






/* .otp{
    text-align: center;
} */
/* .modal{
    display: inline-block;

}  */
/* .vendor-page{
    display: flex;
} */
/* 
.vendor{
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-left: 60%;
} */

/* .box{
    text-align: center;
}
.form-container1{
    width: 400px;
}






