.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    
}
#registrationForm{
   
    justify-content: center;
    align-items: center;
    height: 41vh;
    
   /* margin-right: 20px; */
    width: 255px;
    font-family: Arial, sans-serif;
  margin-left: 40px;
  
}
.password-container{
    position: relative;
}
.password-container i{
    position: absolute;
    top: 21%;
    left: 14rem;
}
form {
    background-color:whitesmoke;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 380px;
    /* margin-left: 7.2rem; */

    box-shadow: rgba(225,225,225,0.1)0px 1px 1px 0px inset, rgba(50,50,93,0.25)0px 50px 100px -20px,rgba(0, 0, 0, 0.3)0px 30px 60px -30px;
}
.dor{
    margin-left: 9rem;
}
.save{
    margin-right: 10rem;
    background-color:gray;
    border: 1px solid white  ;
    border-radius: 7px;
    padding:  15px;
    height: 50px;
    width:85px ;
    color: white;
  

}
.addbutton{
    margin-left: 6rem;
}

h2 {
    text-align: center;
    color:black;
    font-family: cursive;
    margin-top: -10px;
}


label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
    font-weight: bold;
    font-family: cursive;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.btn{
    width: 100%;
    padding: 10px;
    background-color:lightseagreen;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 17px;
    font-family:cursive;
    padding-left: 10px;

  }
  .btn1{
    width:100px;
    padding: 10px;
    background-color:lightseagreen;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 17px;
    font-family:cursive;
    padding-left: 7px;
   
   
    
  }
  .serialno{
    font-size: 19px;
    
  }
  .btn:hover{
    color: white;
    background-color: #404c59;
    border: white 2.2px solid;
    height: 40px;
    /* width: 105px; */
    cursor: pointer;
  }
.rem{
    margin-top: 20px;
}
.error {
    color:red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}
.check{
 font-family:cursive;
}

.regi{
    font-size: 15px;
   font-family: cursive;
}
/* #otpModal{
    display: none;
    width: 500px;
    margin-top: 67px;
    border: 3px solid black;
    padding: 5px 20px 20px 15px;
    margin-left: 480px ;
    
} */


.modal {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 20px;
    width: 100%; 
    height: 100%;
}
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    max-width: 400px; 
    text-align: center;
    margin-left: 520px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  }

  .close {
    font-size: 24px;
    font-weight: bold;
    color: hsl(340, 97%, 45%);
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
.Verification{
    font-size:20px ;
    font-family:fangsong ;
    color:gray;

}
.creative{
    
     margin:20px 10px 25px 10px;
     width: 600px;
     text-align: center;
     
     margin-left: 200px;
     background-color:gray;
     
}
.red{
   margin-right: 95%;
   
   
}
.text-danger{
    margin-left:10px;
    font-size: 28px;

}
.text-success{
    margin-left: 20px;
    font-size: 28px;
}
.type{
    text-align: left;
}
.bold{
    margin-right: 20px;
    text-align: end;

}
.otp{
    margin-right:20px ;
    width: 65px;
    font-size: 16px;
    background-color:rgb(225, 70, 70);
    color: #ffffff;
    padding:10px ;
    width: 100px;
    height: 40px;
    border-radius: 7px;
}
/* .btn1{
    background-color: aqua;
    margin-left:500px;

} */
 


@media only screen and (min-width:767px) and (max-width:1022px){
    #otpModal{
        margin-left: -379px;
    }

}
@media only screen and (min-width:424px) and (max-width:766px){
    #registrationForm{
        margin-left: 10px;
    }
    #otpModal{
        margin-left: 1px;
    }

}
@media only screen and (min-width:374px) and (max-width:423px){
    #otpModal{
        margin-left: 1px;
    }

}
@media only screen and (min-width:319px) and (max-width:374px){
    #otpModal{
        margin-left: 1px;
    }

}
@media only screen and (min-width:320px) and (max-width:374px){
    .form{
        margin-left: -10px;
    }

}


                      @media only screen and (min-width:425px) {
   
                        #registrationForm{
                           margin-right:-200px !important ;
                        }
                        } 

                         @media only screen and (min-width:375px) {
   
                            #registrationForm{
                               margin-right:160px !important ;
                             }
                            } 

                           @media only screen and (min-width:320px) {
   
                                #registrationForm{
                                   margin-right:-400px !important ;
                                   margin-left:-150px !important ;
                                }
                                }    
                                @media only screen and (min-width:425px) {
   
                                    #registrationForm{
                                       margin-right:-300px !important ;
                                      margin-left: -200px !important;
                                    }
                                    }
                                    @media only screen and (min-width:768px) {
   
                                        #registrationForm{
                                           margin-left:-300px !important ;
                                          
                                        }
                                        }
  @media only screen and (min-width:375px) {
#registrationForm{
margin-right:-300px !important ;
                                              
}  
}  
@media only screen and (min-width:320px) and (max-width:423px){
    .save{
        margin-left: 70px;
    }

}
@media only screen and (min-width:425px){
    .save{
        margin-left: 70px;
    }

}
@media only screen and (min-width:425px) {
    .btn1{
        margin-left: 70px;
    }

}
@media only screen and (min-width:375px) {
    .btn1{
        margin-left: 400px;
    }

}
@media only screen and (min-width:320px) {
    .btn1{
        margin-left: 400px;
    }

}


               
               

   
   







