.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    
}
#registrationForm{
   
    justify-content: center;
    align-items: center;
    height: 41vh;
    margin: 0;
   
    width: 255px;
    font-family: Arial, sans-serif;

  
}
.password-container{
    position: relative;
}
.password-container i{
    position: absolute;
    top: 21%;
    left: 11rem;
}
form {
    background-color:whitesmoke;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 380px;
    margin-left: 1.5rem;
    box-shadow: rgba(225,225,225,0.1)0px 1px 1px 0px inset, rgba(50,50,93,0.25)0px 50px 100px -20px,rgba(0, 0, 0, 0.3)0px 30px 60px -30px;
}
.dor{
    margin-left: 9rem;
}
.save{
    margin-right: 10rem;
    background-color:lightseagreen;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
}
.addbutton{
    margin-left: 6rem;
}

h2 {
    text-align: center;
    color:black;
    font-family: cursive;
    margin-top: -10px;
}


label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
    font-weight: bold;
    font-family: cursive;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.btn{
    width: 100%;
    padding: 10px;
    background-color:lightseagreen;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    font-family:cursive;
    padding-left: 10px;
  }
  .btn:hover{
    color: white;
    background-color: #404c59;
    border: white 2.2px solid;
    height: 40px;
    /* width: 105px; */
    cursor: pointer;
  }
.rem{
    margin-top: 20px;
}
.error {
    color:red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}
.check{
 font-family:cursive;
}

.regi{
    font-size: 15px;
   font-family: cursive;
}
#otpModal{
    display: none;
    width: 500px;
    margin-left:-1 px;
    border: 3px solid black;
    padding: 5px 20px 20px 15px;

}



.Verification{
    font-size:20px ;
    font-family:fangsong ;
    color:gray;

}
.creative{
    
     margin:20px 10px 25px 10px;
     width: 600px;
     text-align: center;
     
     margin-left: 200px;
     background-color:gray;
     
}
.red{
   margin-right: 95%;
   
   
}
.type{
    text-align: left;
}
.bold{
    margin-right: 20px;
    text-align: end;

}
.otp{
    margin-right:20px ;
    width: 65px;
    font-size: 16px;
}
.btn1{
    background-color: aqua;
    margin-right: -269px;

}
@media only screen and (min-width:425px) {
   
    .btn1{
        margin-right: -457px !important;
    }
    }

    @media only screen and (min-width:425px)and(max-width:320px) { 
   
        .btn1{
            margin-right: -457px !important;
        }
        }
   



/* .bold{
    font-size:30px ;
} */







/* .modal{
    display: inline-block;

}  */
/* .vendor-page{
    display: flex;
} */
/* 
.vendor{
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); 
    width: 500px;
    margin-left: 60%;
} */

/* .box{
    text-align: center;
}
.form-container1{
    width: 400px;
}






